<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cz.vookimedlo.alfred.github.gists</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3A2F0E29-2F86-4310-ABF2-0C40465E43FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D83604F-42DF-4921-B9E7-946F833B4CEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D83604F-42DF-4921-B9E7-946F833B4CEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3E506E4-3A41-423D-ABDD-2E35BF9DC87E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90DF95FE-FD71-4D95-9DEF-374E3FFF9C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5FD00A5-9BC1-4219-9F4C-BBCACBBA3D77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F1EBFFB-363A-481D-AA5C-3489DE9794BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1232220-E014-4916-AC8B-3A03E133F257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>90DF95FE-FD71-4D95-9DEF-374E3FFF9C8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3A2F0E29-2F86-4310-ABF2-0C40465E43FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>560B5C46-DF38-4D60-8A7D-E85D4DC1D2D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3E506E4-3A41-423D-ABDD-2E35BF9DC87E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52DCB10A-0936-4710-9FFB-8E52F14410E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFF111D9-9DDB-446B-8308-2527E99252C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F1EBFFB-363A-481D-AA5C-3489DE9794BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1232220-E014-4916-AC8B-3A03E133F257</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10BF19E8-25C0-4D4B-8AF4-1910DEDB15A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michal Duda</string>
	<key>description</key>
	<string>Alfred 3 workflow for opening your GitHub Gists in your default browser.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHubGists</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Personal Token hasn't been set yet</string>
				<key>title</key>
				<string>GitHub Gists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>10BF19E8-25C0-4D4B-8AF4-1910DEDB15A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>/token-not-set^^^</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F1232220-E014-4916-AC8B-3A03E133F257</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Username hasn't been set yet</string>
				<key>title</key>
				<string>GitHub Gists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5FD00A5-9BC1-4219-9F4C-BBCACBBA3D77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>/user-not-set^^^</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>90DF95FE-FD71-4D95-9DEF-374E3FFF9C8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gists</string>
				<key>subtext</key>
				<string>Shows your gists and opens them in WebBrowser</string>
				<key>text</key>
				<string>Github Gists</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFF111D9-9DDB-446B-8308-2527E99252C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -z ${user} ]; then echo -n "/user-not-set^^^"; exit 0;  fi
if [ -z ${personalToken} ]; then echo -n "/token-not-set^^^"; exit 0;  fi

echo -n "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F1EBFFB-363A-481D-AA5C-3489DE9794BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving your gists ...</string>
				<key>script</key>
				<string>#!/usr/bin/python

import json
import os
import re
import requests
import sys
from requests.auth import HTTPBasicAuth

query = "{query}"
queryPattern = re.compile(query, re.I)

user = os.getenv('user')
token = os.getenv('personalToken')

url = 'https://api.github.com/users/' + user + '/gists'
auth = HTTPBasicAuth(user, token)

response = requests.get(url, auth=auth)
data = json.loads(response.text)

alfreditems = {"items": []}

for item in data:
    title = item['files'].keys()[0]
    mysortkey = title.lower()
    description = item['description']
    url = item['html_url']

    if query != "" and not queryPattern.search(str(title)):
        continue

    icon = "gist.png" if item["public"] else "gist-secret.png"

    # Alfred menu items
    #
    alfreditems['items'].append({
        "mysortkey": mysortkey,
		"uid": title,
        "title": title,
        "subtitle": description,
        "autocomplete": title,
        "arg": url,
        "icon": {
            "path": icon
        }
    })

# Sort currencies
#
lines = sorted(alfreditems['items'], key=lambda k: k['mysortkey'], reverse=False)
dump = json.dumps({'items': lines}, indent=4)

sys.stdout.write(dump)
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Shows your gists and opens them in WebBrowser</string>
				<key>title</key>
				<string>Github Gists</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D83604F-42DF-4921-B9E7-946F833B4CEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
  open location "{query}"
end run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52DCB10A-0936-4710-9FFB-8E52F14410E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^http</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C3E506E4-3A41-423D-ABDD-2E35BF9DC87E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3A2F0E29-2F86-4310-ABF2-0C40465E43FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly latestTag=`curl -s https://api.github.com/repos/vookimedlo/alfred-github-gists/releases/latest | grep browser_download_url | grep GitHubGists.alfredworkflow | cut -d '/' -f 8`

# THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/vookimedlo/alfred-github-gists/${latestTag}/src/info.plist"
readonly workflow_url=`curl -s https://api.github.com/repos/vookimedlo/alfred-github-gists/releases/latest | grep browser_download_url | grep GitHubGists.alfredworkflow | cut -d '"' -f 4`
readonly download_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>560B5C46-DF38-4D60-8A7D-E85D4DC1D2D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/vookimedlo/alfred-github-gists

Icons taken from https://octicons.github.com/ - MIT License</string>
	<key>uidata</key>
	<dict>
		<key>10BF19E8-25C0-4D4B-8AF4-1910DEDB15A1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>GitHubGists - token not set</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3A2F0E29-2F86-4310-ABF2-0C40465E43FD</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>GitHubGists - check for error</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>3D83604F-42DF-4921-B9E7-946F833B4CEA</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>GitHubGists - display gists</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>52DCB10A-0936-4710-9FFB-8E52F14410E7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>GitHubGists - open gist in browser</string>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>560B5C46-DF38-4D60-8A7D-E85D4DC1D2D7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>90DF95FE-FD71-4D95-9DEF-374E3FFF9C8C</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>GitHubGists - check for error</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9F1EBFFB-363A-481D-AA5C-3489DE9794BC</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>GitHubGists - check variables</string>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>C3E506E4-3A41-423D-ABDD-2E35BF9DC87E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>GitHubGists - check url</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>EFF111D9-9DDB-446B-8308-2527E99252C7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>GitHubGists</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>F1232220-E014-4916-AC8B-3A03E133F257</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>GitHubGists - check for error</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F5FD00A5-9BC1-4219-9F4C-BBCACBBA3D77</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>GitHubGists - user not set</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>personalToken</key>
		<string></string>
		<key>user</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>personalToken</string>
		<string>user</string>
	</array>
	<key>version</key>
	<string>2017.12.05</string>
	<key>webaddress</key>
	<string>https://github.com/vookimedlo/alfred-github-gists</string>
</dict>
</plist>
